.mobile-content {
		display: none;
	}
.toplinks {
	text-decoration: none;
	color: black;
	margin: 0px 28px 0px 0px;
}
.links {
	justify-content: flex-start;
	margin-right: auto;
}
.font700 {
	font-weight: 700;
}
.blacklinks {
	color: black;
}
.maincontent a:hover {
	color: gray;
}
.inline {
	display: inline;
}
.profilepic {
	background-image: url(Profile.jpg);
	background-size: cover;
	flex: 2;
	background-position: center;
	height: 100%;
}
#rightcontent {
	margin: 70px 60px 0px;
	flex: 1;
	align-content: center;
	justify-content: center;
}