body {
	margin: 0px;
	font-size: 16px;
	font-family: 'Actor', sans-serif;
}
img {
	height: 40px;
	width: 40px;
}
ul {
	list-style-type: none;
}
.maincontent {
	justify-content: center;
	height: 100vh;
}
.no-deco {
	text-decoration: none;
}
.container {
	height: 100vh;
	overflow: hidden;
}
.header {
	display: flex;
	padding: 30px;
}
.about-link {
	flex:2;
	margin-right: auto;
	text-decoration: none;
}
.top-links{
	text-decoration: none;
	color: black;
	margin: 0px 28px 0px 0px;
}
.align-right {
	justify-content: flex-end;
	display: flex;
	flex: 1
}
.grey-links {
	text-decoration: none;
	color: grey;
}
.grey-text{
	color: #999;
}
.icons{
	height: 40px;
	width: 40px;
}
.blue-button {
	background-color: #305B90;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 10px 30px;
	margin: 45px 10px;
}