.main-content {
	text-align: center;
	color: white;
	position: relative;
	top: -130px;
	}
.blue-button {
	background-color: #305B90;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 10px 30px;
	margin: 45px 10px;
}
.general-content{
	color: black;
	padding: 10px;
	text-align: left;
}
.work-content{
	text-align: center;
	color: black;
}
.profile-image {
	height: 45vh;
	width: 100vw;
	background-image: url(Profile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.desktop-content{
	display: none;
}