.main-content {
	text-align: center;
	color: white;
	position: relative;
	top: -130px;
	width: 100%;
	}
.general-content{
	color: black;
	padding: 10px;
	text-align: left;
}
.work-content{
	text-align: center;
	color: black;
}
.profile-image {
	height: 45vh;
	width: 100vw;
	background-image: url(Profile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.desktop-content{
	display: none;
}
.bottom-bar{
	display: flex;
	background-color: rgba(255, 255, 255, .7);
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
	display: inline-block;
	text-align: center;
	justify-content: center;
	align-content: center;
}
.inline {
	display: inline;
}